$def with (group)

<h3> $group['name']</h3>
<b> In hierarchy: </b> $group['parent']['hierarchy']<br>
<a href="$group['parent']['uri']"> $group['parent']['hierarchy']</a><br>

<h3> Subgroups:  </h3>
$for subgroup in group['subgroups'].keys():
    <a href="$group['subgroups'][subgroup]['uri']">$subgroup</a><br>
<br>
<h3> Control files: </h3>
$for file in group['controlfiles'].keys():
    <b>$file:</b> $group['controlfiles'][file]</a><br>
<br>
<h3> Tasks: </h3>
$for systasks in group['tasks'].keys():
    <b>$systasks:</b> $group['tasks'][systasks]<br>
    <br>


    
